@page "/benefits"

<PageTitle>Переваги</PageTitle>

<h1>Переваги</h1>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
                <div class="card-body">
                    <h5 class="card-title">Дивіться та слухайте</h5>
                    <p class="card-text">лише найпопулярніші українські та зарубіжні телеканали та радіостанції</p>
                    <NavLink class="btn btn-primary" href="download">
                        <span aria-hidden="true"></span> Завантажити додатки
                    </NavLink>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card">
                <svg class="bd-placeholder-img card-img-top" width="100%" height="180" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>

                <div class="card-body">
                    <h5 class="card-title">Зберігайте улюблений вміст</h5>
                    <p class="card-text">та насолоджуйтесь ним на 5 різних пристроях</p>
                    <NavLink class="btn btn-primary" href="download">
                        <span aria-hidden="true"></span> Завантажити додатки
                    </NavLink>
                </div>
            </div>
        </div>
    </div>
</div>
