@page
@model OTTCreator.Web.Pages.ErrorModel

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
    <title>Помилка</title>
    <link href="~/css/bootstrap/bootstrap.min.css" rel="stylesheet" />
    <link href="~/css/site.css" rel="stylesheet" asp-append-version="true" />
</head>

<body>
    <div class="main">
        <div class="content px-4">
            <h1 class="text-danger">Помилка.</h1>
            <h2 class="text-danger">Відбулась помилка під час опрацювання вашого запиту.</h2>

            @if (Model.ShowRequestId)
            {
                <p>
                    <strong>ID запиту:</strong> <code>@Model.RequestId</code>
                </p>
            }

            <h3>Режим розробки</h3>
            <p>
                Перехід на середовище <strong>розробки</strong> відображає детальну інформацію про помилку, яка відбулась.
            </p>
            <p>
                <strong>Середовище розробки не повинно бути ввімкнене для розгорнутих додатків.</strong>
                Це може призвести до відображення чутливої інформації з винятків кінцевим користувачам.
                Для локального відлагодження помилок, увімкніть середовище <strong>розробки</strong>, налаштувавши змінну середовища <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>"Розробка"</strong>
                та перезапустивши додаток.
            </p>
        </div>
    </div>
</body>

</html>
