@page "/"

<PageTitle>OTTCreator.Web</PageTitle>

<h1>Головна</h1>

<div class="container">
    <div class="card">
        <svg class="bd-placeholder-img card-img-top" width="100%" height="100%" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: Image cap" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#868e96"></rect><text x="50%" y="50%" fill="#dee2e6" dy=".3em">Image cap</text></svg>
        <div class="card-body">
            <h5 class="card-title">Дивіться телебачення та слухайте радіостанції</h5>
            <p class="card-text">На 5 різних пристроях одночасно</p>
            <NavLink class="btn btn-primary" href="benefits">
                <span aria-hidden="true"></span> Дізнатись переваги
            </NavLink>
        </div>
    </div>
</div>
