@using OTTCreator.WebApp.ViewModels;
@model ContentListViewModel

@{
    ViewData["Title"] = "Створити вміст";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Category" class="control-label"></label>
                <input asp-for="Category" class="form-control" />
                <span asp-validation-for="Category" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Type" class="control-label"></label>
                <input asp-for="Type" class="form-control" />
                <span asp-validation-for="Type" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Image" class="control-label"></label>
                <input asp-for="Image" class="form-control" />
                <span asp-validation-for="Image" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CroppedImage" class="control-label"></label>
                <input asp-for="CroppedImage" class="form-control" />
                <span asp-validation-for="CroppedImage" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stream" class="control-label"></label>
                <input asp-for="Stream" class="form-control" />
                <span asp-validation-for="Stream" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="HasVideo" class="control-label"></label>
                <input asp-for="HasVideo" class="form-check" name="HasVideo" type="checkbox" value="true" />
                <span asp-validation-for="HasVideo" class="text-danger"></span>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Зберегти" class="btn btn-primary" />
            <button asp-controller="Content" asp-action="Configure" class="btn btn-secondary">Скасувати</button>
        </div>
    </div>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap4.min.css" />
}
