@model ErrorViewModel
@{
    ViewData["Title"] = "Помилка";
}

<h1 class="text-danger">Помилка.</h1>
<h2 class="text-danger">Відбулась помилка під час опрацювання вашого запиту.</h2>

@if (Model.ShowRequestId)
{
    <p>
        <strong>Ідентифікатор запиту:</strong> <code>@Model.RequestId</code>
    </p>
}

<h3>Режим розробки</h3>
<p>
    Переключення на середовище <strong>розробки</strong> відобразить більш розгорнуту інформацію про помилку, яка відбулась.
</p>
<p>
    <strong>Середовище розробки не варто вмикати в розгорнутих програмах</strong>, бо це може призвести до відображення чутливої інформації з винятків кінцевим користувачам. Для локального відлагодження, режим розробки має бути ввімкнений налаштуванням змінної середовища <strong>ASPNETCORE_ENVIRONMENT</strong> на <strong>Development</strong>, та перезавантаженням програми.
</p>
