@{
    ViewData["Title"] = "Головна";
}

<div class="text-center">
    <h1 class="display-4">Дивіться та слухайте</h1>
    <h1>улюблені телеканали та радіостанції</h1>
    <p class="lead">на 5 різних пристроях</p>
    <img src="/images/Home.png"/>
</div>
