@using OTTCreator.WebApp.ViewModels;
@model ChooseRoleViewModel

@{
    ViewData["Title"] = "Додати користувача";
}

<form method="post">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="row">
        <div class="col-lg-6">
            <div class="form-group">
                <label class="control-label">Оберіть роль</label>
                <select asp-for="Role" class="form-control" asp-items="Model.Roles">
                </select>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Далі" class="btn btn-primary" />
        <button asp-controller="User" asp-action="Configure" class="btn btn-secondary">Скасувати</button>
    </div>
</form>


@section Scripts {
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/js/standalone/selectize.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/selectize.js/0.13.5/css/selectize.bootstrap4.min.css" />
}

@{
   await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
